.validation li{
    list-style: none;
    margin-bottom: 10px;
    height: 37px;
    width: 250px;
    background-color: #ccc;
    border-radius: 37px ;
    line-height: 40px;
}

.validation__link{
    background: url(/images/validation_icon\ 2.svg) no-repeat 0 10px; 
    padding-left: 20px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

a{
    display: block;
    width: 100%;
    height: 100%;
}