/* css 초기화 */
@import url(base.css);
/* @import url(reset.css); */

/* 폰트 설정 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body {
    margin: 50px;
}

.site {
    position: relative;
    width: 190px;
    background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 12px;
}

.site__title {
    font-size: 15px;
    line-height: 150%;
    font-weight: 700;
    margin-bottom: 8px;
}

.site__title span {
    color: #ed552f;
}

.item__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 20px;
    gap: 8px;
    line-height: 150%;
    font-size: 11px;
    font-weight: 400;
    /* 랭킹 자동으로 */
    counter-reset: numbering;
}

/* 랭킹 이미지 */

.sprite {
    background: url(rank.png) no-repeat;
    list-style: none;
    background-position-x: right;
}

/* 원래 y축 좌표는 0, -22.5px, -45px인데  세로 가운데 정렬 위해 각각 +3.5px */
.spriteUp {
    background-position-y: 3.5px
}

.spriteStay {
    background-position-y: -19px;
}

.spriteDown {
    background-position-y: -41.5px;
}

.rank::before {
    /* 랭킹 자동으로 */
    counter-increment: numbering;
    content: counter(numbering);
    color: white;
    background: #a3a3a3;
    border-radius: 5px;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 12px;
    padding-left: 5px;
}

/* 링크 */

.link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* 더보기 */

.plus {
    position: absolute;
    font-size: 30px;
    color: green;
    right: 40px;
    top: -3px;
}

.site__more {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    line-height: 150%;
}