/* css 초기화 */
@import url(base.css);
/* @import url(reset.css); */

/* 폰트 설정 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body{
    margin: 50px;
}

.site{
    position: relative;
    width: 190px;
    background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 12px;
}

.site__title{
    font-size: 15px;
    line-height: 150%;
    font-weight: 700;
    margin-bottom: 8px;
}

.site__title span{
    color: #ed552f;
}

.site__more{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
}

.item__list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 20px;
    gap: 8px;
    line-height: 150%;
    font-size: 11px;
    font-weight: 400;
}

/* 랭킹 이미지 */

.sprite
{
    background: url(rank.png) no-repeat;
    list-style: none;
}

.spriteUp{
    background-position: right 3px 
}

.spriteStay{
    background-position: right -19.5px;
}

.spriteDown{
    background-position: right -42px;
}

.rank::before{
    content: "";
    color: white;
    background: #a3a3a3;
    border-radius: 5px;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 12px;
    padding-left: 5px;
}

/* 랭킹 */

.rank1::before{
    content: "1";
}

.rank2::before{
    content: "2";
}

.rank3::before{
    content: "3";
}

.rank4::before{
    content: "4";
}

/* 더보기 */

.plus{
    position: absolute;
    font-size: 30px;
    color: green;
    right: 40px;
    top: -3px;
}